@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* New start here */
.bg__primary__color {
  background-color: #192236;
}
.on__hover__drop__shadow:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.no-select {
  user-select: none;
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.neumorphism__out {
  border-radius: 50px;
  background: linear-gradient(145deg, #566a9a, #121b2b);
  box-shadow: 5px 5px 10px #0e1421, -1px -1px 10px #566a9a;
}
.neumorphism__out:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.neumorphism__out:active {
  background: linear-gradient(145deg, #0f1623, #566a9a);
  box-shadow: 5px 5px 10px #0e1421, -1px -1px 10px #566a9a;
}

.neumorphism__in {
  border-radius: 50px;
  background: linear-gradient(145deg, #0f1623, #566a9a);
  box-shadow: 5px 5px 10px #0e1421, -1px -1px 10px #566a9a;
}

/* Navbar */
.flag {
  width: 1.5em;
  line-height: 1.5em;
  border-radius: 50%;
}
/* Hero */
.neumorphism__inner_dot {
  border-radius: 50px;
  background: linear-gradient(145deg, #566a9a, #121b2b);
  box-shadow: 1px 1px 10px #0e1421, -1px -1px 10px #566a9a;
  border: 1px solid #192236;
}
.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}
/* About */
.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
