@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* New start here */
.on__hover__drop__shadow:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.flag {
  width: 1.5em;
  line-height: 1.5em;
  border-radius: 50%;
}
.semi__trasparent__bg {
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  border-radius: 6px !important;
}
.no-select {
  user-select: none;
}
